$roboto-font-path: '../fonts/';

$fa-font-path: '../fonts';

$black: #000000;

$white: #ffffff;

$pink-darken-3: #ad1457;

$grey-darken-2: #616161;

$skype: #12a5f4;

$twitter: #1dcaff;

$linkedin: #007bb5;

$whatsapp: #4dc247;
