$roboto-font-path: '../fonts/';

$fa-font-path: '../fonts';

$black: #000000;

$gray: #9e9e9e;

$white: #ffffff;

$pink-darken-3: #ad1457;

$grey-darken-2: #616161;

$teal-lighten-2: #4db6ac;

$skype: #12a5f4;

$twitter: #1dcaff;

$linkedin: #007bb5;

$whatsapp: #4dc247;
