@charset 'utf-8';

@import 'variables';
@import 'mixins';
@import 'materialize';
@import 'font-awesome/font-awesome';

html {
	font-family: 'Roboto', Trebuchet, sans-serif;
	background-color: $white;
	color: $black;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

body {
	-webkit-overflow-scrolling: touch;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

abbr[title] {
	text-decoration: dotted;
}

abbr[title],
abbr[data-original-title] {
	cursor: help;
}

h2, h3, h4 {
	color: $pink-darken-3;
}

h2 {
	font-weight: 900;
	margin: 1.78rem 0;

	@media #{$medium-and-down} {
		font-size: 25px;
	}

	@media #{$medium-and-up} {
		font-size: 40px;
	}

	@media #{$large-and-up} {
		font-size: 60px;
	}
}

h3 {
	font-weight: 600;
	margin: 1.46rem 0;

	@media #{$medium-and-down} {
		font-size: 20px;
	}

	@media #{$medium-and-up} {
		font-size: 25px;
	}

	@media #{$large-and-up} {
		font-size: 30px;
	}
}

h4 {
	font-weight: 500;
	margin: 1.14rem 0;

	@media #{$medium-and-down} {
		font-size: 18px;
	}

	@media #{$medium-and-up} {
		font-size: 23px;
	}

	@media #{$large-and-up} {
		font-size: 25px;
	}
}

p, i, li, a, label {
	color: $grey-darken-2;
}

p {
	@media #{$medium-and-down} {
		font-size: 15px;
	}

	@media #{$medium-and-up} {
		font-size: 16px;
	}

	@media #{$large-and-up} {
		font-size: 17px;
	}
}

i, li, a, label {
	@media #{$medium-and-down} {
		font-size: 15px;
	}

	@media #{$medium-and-up} {
		font-size: 16px;
	}

	@media #{$large-and-up} {
		font-size: 17px;
	}
}

a {
	@include transition(color 0.1s ease-in, background 0.1s ease-in);
}

.uppercase {
	text-transform: uppercase;
}

.lead {
	font-weight: 400;

	@media #{$medium-and-down} {
		font-size: 16px;
	}

	@media #{$medium-and-up} {
		font-size: 18px;
	}

	@media #{$large-and-up} {
		font-size: 20px;
	}
}

.btn {
	@include border-radius(100px);

	letter-spacing: .5px;
	font-weight: 900;

	&:hover {
		background-color: $pink-darken-3 !important;
	}

	i {
		color: $white;
		font-weight: 900;
		vertical-align: middle;
	}

	@media #{$medium-and-down} {
		font-size: 15px;
		height: 36px;
		line-height: 36px;

		i {
			margin-top: -2px;
		}
	}

	@media #{$medium-and-up} {
		font-size: 16px;
		height: 46px;
		line-height: 46px;

		i {
			margin-top: -3px;
		}
	}

	@media #{$large-and-up} {
		font-size: 17px;
		height: 56px;
		line-height: 56px;

		i {
			margin-top: -4px;
		}
	}
}

.side-nav {
	li {
		.row {
			margin-bottom: 0;
			padding-bottom: 0;

			.col {
				width: 100%;
				padding-top: 20px;
				padding-bottom: 0;

				div {
					width: 100%;

					.delaneymethod-logo {
						width: 80px;
						margin-bottom: -15px;
					}

					.delaneymethod-name {
						font-weight: 700;
						color: $pink-darken-3;

						&:hover {
							color: $grey-darken-2;
						}
					}
				}
			}
		}

		a {
			color: $grey-darken-2;

			&:hover {
				color: $pink-darken-3;
			}
		}
	}
}

header {
	.delaneymethod-logo {
		width: 50px;
		margin-right: 10px;
	}

	.delaneymethod-name {
		text-shadow: none;
		font-weight: 700;
		color: $pink-darken-3;
		margin-left: 10px;

		@media #{$medium-and-down} {
			font-size: 20px;
		}

		@media #{$medium-and-up} {
			font-size: 25px;
		}

		@media #{$large-and-up} {
			font-size: 30px;
		}

		&:hover {
			color: $grey-darken-2;
		}
	}

	.button-collapse {
		margin-top: 0px;
		color: $pink-darken-3;
	}

	li {
		a {
			font-weight: 500;
			color: $grey-darken-2;

			&:hover {
				color: $pink-darken-3;
			}
		}
	}
}

main {
	.row {
		margin-top: 20px;
	}

	.parallax-container {
		height: auto;

		.parallax {
			img {
				width: 100%;
				height: auto;
				opacity: 0.9;
			}
		}
	}

	#intro {
		.row {
			.col {
				@media #{$medium-and-down} {
					height: 200px;
				}

				@media #{$medium-and-up} {
					height: 300px;
				}

				@media #{$large-and-up} {
					height: 600px;
				}

				h1 {
					font-size: 100%;
					display: inline-block;
					padding: 0;
					margin: 0;

					a {
						.delaneymethod-logo {
							height: auto;

							@media #{$medium-and-down} {
								width: 60px;
							}

							@media #{$medium-and-up} {
								width: 100px;
							}

							@media #{$large-and-up} {
								width: 140px;
							}
						}
					}
				}

				h2 {
					font-weight: 900;
					color: $white;
				}
			}
		}
	}

	#online-communities,
	#trusted,
	#spacer,
	#reliable,
	#contact-us {
		.row {
			.col {
				h3 {
					color: $white;
				}
			}
		}
	}

	#what-makes-us-different {
		.row {
			.col {
				ul {
					list-style: none;
					padding-left: 0;
					padding-right: 0;
					margin-left: 0;
					margin-right: 0;

					li {
						vertical-align: middle;
						margin-bottom: 20px;

						i {
							margin-top: -3px;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}

	#contact-us {
		.row {
			.col {
				h4 {
					a {
						color: $white;
						font-size: inherit;
					}
				}
			}
		}
	}

	#featured-projects {
		.row {
			.col {
				.row {
					.col {
						.logo {
							padding-top: 20px;
							height: auto;

							@media #{$medium-and-down} {
								width: 50%;
							}

							@media #{$medium-and-up} {
								width: 70%;
							}

							@media #{$large-and-up} {
								width: 90%;
							}
						}

						.stack {
							margin-top: 40px;
							margin-bottom: 40px;
						}
					}
				}

				.row-spacer {
					display: block;
					height: 20px;
				}

				.project {
					@media #{$medium-and-down} {
						text-align: center;
					}

					@media #{$medium-and-up} {
						text-align: left;
					}
				}
			}
		}
	}

	#trusted {
		background-color: color('teal', 'base');

	}

	#recommendations {
		background-color: $pink-darken-3;

		.row {
			.col {
				blockquote {
					border-color: $white;

					p,
					cite {
						color: $white;
					}
				}
			}
		}
	}
	
	#spacer {
		@media #{$medium-and-down} {
			height: 100px;
		}

		@media #{$medium-and-up} {
			height: 160px;
		}

		@media #{$large-and-up} {
			height: 240px;
		}
	}

	#request-call-back {
		.row {
			.col {
				form {
					.row {
						margin-bottom: 0;

						.col {
							margin-bottom: 20px;

							label {
								@include transform(translateY(-135%));

								@media #{$medium-and-down} {
									font-size: 15px;
								}

								@media #{$medium-and-up} {
									font-size: 16px;
								}

								@media #{$large-and-up} {
									font-size: 17px;
								}
							}

							input {
								height: 2.6rem;
								font-size: 15px;
								font-weight: inherit;
							}

							textarea {
								color: $black;
								font-weight: inherit;
							}

							input[type=text]:focus + label,
							input[type=email]:focus + label,
							input[type=tel]:focus + label,
							textarea:focus + label {
								color: $pink-darken-3;
							}

							input[type=text]:focus,
							input[type=email]:focus,
							input[type=tel]:focus,
							textarea:focus {
								border-bottom: 1px solid $pink-darken-3;
								box-shadow: none
							}

							.valid {
								border-bottom: 1px solid color('grey', 'base');
								box-shadow: none;
							}

							.btn {
								i {
									margin-top: -2px;
								}
							}
						}
					}
				}
			}
		}
	}

	#reliable {
		background-color: $grey-darken-2;
	}
}

#terms {
	.row {
		.col {
			margin-top: 20px;
			margin-bottom: 0;

			h3 {
				margin-bottom: 20px;
			}

			h4 {
				color: $grey-darken-2;
			}
		}
	}
}

footer {
	.container {
		.row {
			margin-bottom: 0;

			.col {
				h4 {
					margin-top: 20px;
				}

				a {
					color: $grey-darken-2;

					&:hover {
						color: $pink-darken-3;
					}
				}

				.material-icons {
					margin-top: -1px;
				}

				.icons {
					li {
						display: inline-block;
						padding-right: 10px;

						&:last-child {
							padding-right: 0;
						}

						.fa {
							font-size: 200%;

							&:hover {
								color: $pink-darken-3;
							}
						}

						.fa-skype:hover {
							color: $skype;
						}

						.fa-twitter:hover {
							color: $twitter;
						}

						.fa-linkedin-square:hover {
							color: $linkedin;
						}

						.fa-whatsapp:hover {
							color: $whatsapp;
						}
					}
				}
			}
		}
	}

	@media #{$medium-and-down} {
		.rights,
		.terms {
			text-align: center;
		}

		.terms {
			margin-top: -20px;
		}
	}
}
