{% extends '_layout' %}
{% set title = 'Server Error: 429 (Too Many Attempts)' %}
{% block content %}
	
	<h1>Server Error: 429 (Too Many Attempts)</h1>
	<h2>What does this mean?</h2>
	<p>You have made too many requests to the same resource, and now you will have to wait for a 60 seconds before trying again.</p>

{% endblock %}
