<footer>
	<div class="section grey lighten-3">
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l6">
					<h4 class="uppercase">About DelaneyMethod</h4>
					<p>DelaneyMethod is the home of Sean Delaney. That’s who you’ll deal with. That’s who’s working on things. A no-nonsense, get it done Web Developer with a solid reputation for delivering his part of the project.</p>
					<p>The term &quot;Delaney’s Method&quot; was a phrase used to describe how Sean would personally tackle and resolve issues by his co-workers at a company he once worked for as a lead developer. It was a joke at first but soon became the adopted word when the team faced an issue. A few years later when Sean started out on his own, it became his business name.</p>
				</div><!-- END .col //-->
				<div class="col s12 m12 offset-l2 l4">
					<h4 class="uppercase">DelaneyMethod HQ</h4>
					<ul>
						<li><a class="valign-wrapper" href="//goo.gl/maps/Qqwgw" title="Aberdeen, Scotland" target="_blank"><i class="valign tiny material-icons" aria-hidden="true">location_on</i>&nbsp;Aberdeen, Scotland</a></li>
						<li><a class="valign-wrapper" href="tel:07889571206" title="Call us"><i class="valign tiny material-icons" aria-hidden="true">phone</i>&nbsp;+44 7889 571 206</a></li>
						<li><a class="valign-wrapper" href="mailto:hello@delaneymethod.com" title="Email us"><i class="valign tiny material-icons" aria-hidden="true">email</i>&nbsp;hello@delaneymethod.com</a></li>
					</ul>
					<ul class="icons">
						<li><a href="skype:sean-delaney" title="Skype us"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
						<li><a href="//twitter.com/seandelaney" title="Tweet us" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="//uk.linkedin.com/in/seantdelaney" title="Connect with us" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						<li><a href="//github.com/seandelaney" title="Fork us" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
						<li><a href="whatsapp://send/?text=http%3A%2F%2Fdelaneymethod.com" title="WhatsApp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
					</ul>
				</div><!-- END .col //-->
			</div><!-- END .row //-->
		</div>
	</div><!-- END .row //-->
	<div class="white">
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l8 rights">
					<p>&copy; 2016 DelaneyMethod, All rights reserved. Company&nbsp;#&nbsp;8707849&nbsp;&bullet;&nbsp;VAT&nbsp;#&nbsp;GB171945391</p>
				</div><!-- END .col //-->
				<div class="col s12 m12 l4 terms">
					<p><a class="modal-trigger" href="#terms" title="Terms of Business">Terms of Business</a></p>
				</div><!-- END .col //-->
			</div><!-- END .row //-->
		</div>
	</div><!-- END .row //-->
</footer>
