<footer class="page-footer pink darken-4">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text uppercase">About DelaneyMethod</h5>
				<p class="grey-text text-lighten-4">DelaneyMethod is the home of Sean Delaney. That’s who you’ll deal with. That’s who’s working on things. A no-nonsense, get it done Web Developer with a solid reputation for delivering his part of the project.</p>
				<p class="grey-text text-lighten-4">The term &quot;Delaney’s Method&quot; was a phrase used to describe how Sean would personally tackle and resolve issues by his co-workers at a company he once worked for as a lead developer. It was a joke at first but soon became the adopted word when the team faced an issue. A few years later when Sean started out on his own, it became his business name.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text uppercase">DelaneyMethod HQ</h5>
				<ul>
					<li><a class="grey-text text-lighten-3 valign-wrapper" id="" href="//goo.gl/maps/Qqwgw" title="Aberdeen, Scotland"><i class="valign tiny material-icons">location_on</i>&nbsp;Aberdeen, Scotland</a></li>
					<li><a class="grey-text text-lighten-3 valign-wrapper" id="" href="tel:07889571206" title="Call us"><i class="valign tiny material-icons">phone</i>&nbsp;+44 7889 571 206</a></li>
					<li><a class="grey-text text-lighten-3 valign-wrapper" id="" href="mailto:hello@delaneymethod.com" title="Email us"><i class="valign tiny material-icons">email</i>&nbsp;hello@delaneymethod.com</a></li>
				</ul>
				<ul>
					<li><a class="grey-text text-lighten-3" id="" href="skype:sean-delaney" title="Skype us">Skype Icon</a></li>
					<li><a class="grey-text text-lighten-3" id="" href="//twitter.com/seandelaney" title="Tweet us">Twitter Icon</a></li>
					<li><a class="grey-text text-lighten-3" id="" href="//uk.linkedin.com/in/seantdelaney" title="Connect with us">LinkedIn Icon</a></li>
					<li><a class="grey-text text-lighten-3" id="" href="//github.com/seandelaney" title="Fork us">Github Icon</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			&copy; 2017 DelaneyMethod. All rights reserved &bullet; Company # 8707849 &bullet; VAT # GB171945391
			<a class="grey-text text-lighten-4 right" id="" href="" title="">Terms of Business</a>
		</div>
	</div>
</footer>
