<header class="navbar-fixed">
	<nav class="white">
		<div class="row">
			<div class="col s12 m12 l12">
				<div class="nav-wrapper">
					<a class="button-collapse" href="javascript:void(0);" title="Open Sidebar Menu" data-activates="nav-mobile"><i class="material-icons">menu</i></a>
					<a class="brand-logo uppercase delaneymethod-name" href="/" title="DelaneyMethod">DelaneyMethod</a>
					<ul class="right hide-on-med-and-down uppercase">
						<li><a href="javascript:void(0);" title="What We Do" data-scroll-to="about-us">What We Do</a></li>
						<li><a href="javascript:void(0);" title="Portfolio" data-scroll-to="portfolio">Portfolio</a></li>
						<li><a href="javascript:void(0);" title="Contact Us" data-scroll-to="request-call-back">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>
