 <header class="navbar-fixed">
	<nav class="pink darken-4">

		<!--
		<div class="col s12 m12 l12">
			<div class="nav-wrapper valign-wrapper">
				<a class="brand-logo right" id="" href="" title=""><img class="delaneymethod-logo valign" id="" src="./assets/img/delaneymethod.png" alt=""></a>
				<ul class="left uppercase" id="">
					<li><a class="delaneymethod-name" id="" href="#intro" title="">DelaneyMethod</a></li>
					<li><a class="" id="" href="#what-we-do" title="">What We Do</a></li>
					<li><a class="" id="" href="#what-we-offer" title="">What We Offer</a></li>
					<li><a class="" id="" href="#projects" title="">Projects</a></li>
					<li><a class="" id="" href="#contact" title="">Contact Us</a></li>
				</ul>
			</div>
		</div>
		//-->

		<div class="row">
			<div class="col s12 m12 l12">
				<div class="nav-wrapper">
					<a class="brand-logo uppercase delaneymethod-name" id="" href="" title="">DelaneyMethod</a>
					<ul class="right hide-on-med-and-down uppercase" id="nav-mobile">
						<li><a class="" id="" href="#what-we-do" title="">What We Do</a></li>
						<li><a class="" id="" href="#what-we-offer" title="">What We Offer</a></li>
						<li><a class="" id="" href="#projects" title="">Projects</a></li>
						<li><a class="" id="" href="#contact" title="">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>

	</nav>
</header>
