<!doctype html>
<html lang="en-IE">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="author" content="Sean Delaney">
	<meta name="description" content="DelaneyMethod is a Full-Stack Web Development studio located in Aberdeen, Scotland.">
	<meta name="keywords" content="full, stack, web, software, development, studio, Aberdeen, Scotland, DelaneyMethod">
	<meta name="robots" content="index, follow, archive">
	<meta property="og:title" content="Full-Stack Web Development Aberdeen Scotland - DelaneyMethod">
	<meta property="og:locale" content="en_GB">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="DelaneyMethod">
	<meta property="og:url" content="http://delaneymethod.com">
	<meta property="og:description" content="DelaneyMethod is a Full-Stack Web Development studio located in Aberdeen, Scotland.">
	<meta property="og:see_also" content="http://twitter.com/seandelaney">
	<meta property="og:see_also" content="http://uk.linkedin.com/in/seantdelaney">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@seandelaney">
	<meta property="twitter:creator" content="@seandelaney">
	<meta property="twitter:title" content="Sean Delaney">
	<meta property="twitter:description" content="Full-Stack Web Developer with a no-nonsense, get it done attitude and a solid reputation for delivering my part of the project." />
	<meta property="twitter:image" content="https://pbs.twimg.com/profile_images/791697107229040640/81LIN8Kq_400x400.jpg">
	<!--[if IE]>
	<meta http-equiv="cleartype" content="on">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<![endif]-->
	<title>Full-Stack Web Development Aberdeen Scotland - DelaneyMethod</title>
	<link rel="home" href="http://www.delaneymethod.com">
	<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="{{root}}assets/css/app.css">
	<link rel="shortcut icon" href="{{root}}assets/img/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="{{root}}assets/img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{root}}assets/img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{root}}assets/img/apple-icon-144x144.png">
	<link rel="dns-prefetch" href="//www.delaneymethod.com">
	<link rel="dns-prefetch" href="//www.google-analytics.com">
	<link rel="author" href="humans.txt" type="text/plain">
</head>
<body>
