<ul class="side-nav uppercase center-align" id="nav-mobile">
	<li>
		<div class="row">
			<div class="col valign-wrapper">
				<div class="valign">
					<img class="delaneymethod-logo" src="/assets/img/delaneymethod.png" alt="DelaneyMethod Logo">
					<a class="delaneymethod-name" href="javascript:void(0);" title="DelaneyMethod" data-scroll-to="intro">DelaneyMethod</a>
				</div>
			</div>
		</div>
	</li>
	<li><a href="javascript:void(0);" title="What We Do" data-scroll-to="about-us">About Us</a></li>
	<li><a href="javascript:void(0);" title="Featured Projects" data-scroll-to="featured-projects">Portfolio</a></li>
	<li><a href="javascript:void(0);" title="Request a Callback" data-scroll-to="request-call-back">Contact</a></li>
	<li><a class="modal-trigger" href="#terms" title="Terms of Business">Terms of Business</a></li>
</ul>
