<div class="modal modal-fixed-footer" id="terms">
	<div class="modal-content">
		<div class="row">
			<div class="col s12 m12 l12">
				<h3 class="uppercase center-align">Our Standard Terms and Conditions of Business.</h3>
				<h4 class="uppercase">Payment</h4>
				<p>DelaneyMethod invoice electronically and standard payment terms are 30 days from the invoice date. All proposals are quoted in &pound;GBP and payments are to be made electronically.</p>
				<h4 class="uppercase">VAT</h4>
				<p>DelaneyMethod is a VAT registered company. Unless clearly stated otherwise, estimates quoted by DelaneyMethod will be subject to VAT.</p>
				<h4 class="uppercase">Remedies for Overdue Payment</h4>
				<p>If payment has not been received 15 days after the due date, DelaneyMethod has the right to suspend ongoing work for client until full payment of the outstanding balance has been received. DelaneyMethod reserves the right to remove or take down work if payment has not been received 30 days after the due date.</p>
				<h4 class="uppercase">Offers and Proposals</h4>
				<p>Offers and proposals made by DelaneyMethod should be treated as confidential information and remain the property of DelaneyMethod. Such offers and proposals or the information contained within them must not be passed to third parties. All proposals are valid for 30 days from the issue date.</p>
				<h4 class="uppercase">Trade Secrets</h4>
				<p>Any code that is not freely accessible to third parties and not in the public domain, and to which DelaneyMethod or their suppliers owns the copyright, may not be copied, published or distributed without prior written consent from DelaneyMethod. Information passed in written form to DelaneyMethod, and that the client has indicated is confidential or a trade secret, will not be published or made available in any other way to third parties without the prior written consent of the client.</p>
				<h4 class="uppercase">Supplied Content</h4>
				<p>Clients will obtain all the necessary permissions and authorities in respect of the use of all copy, graphic images, photography, company logos, names and trademarks or any other material it supplies to DelaneyMethod for inclusion on the website or in other marketing material.</p>
				<h4 class="uppercase">Browser Support</h4>
				<p>Websites will be built to work in all browsers (e.g. Internet Explorer 9) that are used by over 5% of the client website audience at the time a project begins. Support for additional browsers (e.g. older or mobile) must be agreed before work commences.</p>
				<h4 class="uppercase">CONSEQUENTIAL LOSS</h4>
				<p>Under no circumstances will DelaneyMethod be responsible or liable for any consequential, indirect or special damages caused by the failure or use or misuse of its software. DelaneyMethod shall not in any way be liable to the client for any inaccuracies, errors or omissions, regardless of cause in the work or for any damages (whether direct or indirect) resulting therefrom.</p>
				<h4 class="uppercase">Insurance</h4>
				<p>DelaneyMethod is covered by professional indemnity and public liability insurance policies.</p>
				<h4 class="uppercase">Right to Terminate</h4>
				<p>DelaneyMethod reserves the right to refuse or break a contract without prior notice, if it is believed that the client, their website, or any material is illegal, immoral or otherwise deems to be unacceptable.</p>
				<h4 class="uppercase">DelaneyMethod as a Subcontractor</h4>
				<p>Definitions for ‘DelaneyMethod as a Subcontractor’:</p>
				<ul>
					<li>End client - the project owner and prime client</li>
				</ul>
				<p>Direct client - our immediate client and the contractor of DelaneyMethod Where DelaneyMethod is contracted on a project the following terms also apply:</p>
				<ul>
					<li>DelaneyMethod will have no contact with the end client without authorisation from the direct client.</li>
					<li>Project work is to be approved by the direct client unless agreed otherwise.</li>
					<li>The end client should be made aware of DelaneyMethod’s involvement and our responsibilities on the project by the direct client.</li>
					<li>Should the end client approach DelaneyMethod for any additional future work, this will be referred back to the direct client.</li>
					<li>DelaneyMethod is allowed to publicise the work done on the project with the following conditions:
						<ul>
							<li>The direct client should be credited as the ‘project owner’. I.e. Client: [DIRECT CLIENT] for [END CLIENT].</li>
							<li>DelaneyMethod’s responsibilities should be clearly defined, e.g. (e.g design, build, strategy, etc.).</li>
							<li>Detailed descriptions of the work will be subject to approval by the direct client.</li>
						</ul>
					</li>
				</ul>
				<h4 class="uppercase">Govering Law and Jurisdiction</h4>
				<p>These terms and conditions shall be governed by and construed in all respects in accordance with the laws of the United Kingdom and each party submits to the exclusive jurisdiction of the British Courts. DelaneyMethod is a Limited Company registered in England and Wales.</p>
			</div><!-- END .col //-->
		</div><!-- END .row //-->
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close btn-flat" href="javascript:void(0);" title="Agree">Agree</a>
	</div>
</div>
