{% extends '_layout' %}
{% set title = '404' %}
{% block content %}
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12 center-align">
					<h3 class="uppercase">Page not found</h3>
					<p>What’s worse, a hilarious 404 page can’t be found either.</p>
				</div><!-- END .col //-->
			</div><!-- END .row //-->
		</div>
	</section>
{% endblock %}
