{% set title = craft.entries.id(2).first().title %}
{% set baseAssetsUrl = craft.config.environmentVariables['baseAssetsUrl'] %}
{% set baseUploadsUrl = craft.config.environmentVariables['baseUploadsUrl'] %}
{% include '_head' %}
		<main>
			{% block content %}
			{% endblock %}
		</main>
{% include '_foot' %}
